* {
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(25, 62, 40);
    margin: 100px;
    padding: 20px;

}

.card {
    width: 60%;
    max-width: 750px;
    margin: 0 auto;
    padding: 24px 96px;
    background-color: rgb(177, 232, 104);
    border: 5px solid orange;
    border-radius: 15px;
}

.idCard {
    display: inline;
    color: red;
    font-weight: bold;
}

.paragraph {
    text-align: center;
}

.button {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: block;
    margin-top: 16px;
    padding: 10px 18px;
    background-color: white;
    color: blue;
    text-decoration: none;
    border-radius: 20px;
}

.hidden {
    display: none;
}